
  {% extends 'employes/base.html' %}

{% block content %}

<div class="bg-white p-6 rounded shadow w-full mx-auto max-w-md">
    <h2 class="text-xl font-bold mb-4">{% if object %}Update{% else %}Create{% endif %} Task</h2>
 
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded mt-2">
            {% if object %}Update{% else %}Create{% endif %}
        </button>
    </form>
    <a href="{% url 'dashboard' %}" class="block mt-4 text-blue-500 hover:underline">Back to Dashboard</a>
</div>


  {% endblock %}
